.o_bg_img {
  background-image: url('/trainingapp/static/img/bgimage.jpg');
}

.o_training_card {
  cursor: pointer;
}

.o_training_card.active {
  border: 3px solid white;
}

.o_traininglist_empty {
  color: white;
}
